@tailwind base;
@tailwind components;
@tailwind utilities;


/* body{
  max-width: 800px;
} */

.stick{
position: sticky;
top: 0px;
z-index: 9999;
}


.navbar-nav {
  position: relative;
  left: 50%;
}

.one{
  position: absolute;
  top: 50%;
  left: 40%;
}

.product{
  height: 100vh;
}